{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Welcome back, {{ user.username }}</h1>

{% block pubic-plist %}
<h2 style="text-align: left">Public Projects:</h2>
{% for proj in proj_set %}
<li>{{ proj.description }}</li>
{% endfor %}
{% endblock %}

{% block private-plist %}
<h2 style="text-align: left">Public Projects:</h2>
{% for proj in proj_set %}
<li>{{ proj.description }}</li>
{% endfor %}
{% endblock %}

<br></br>
<div class="text-center">
  <a href="{% url 'proj-new' %}"><button type="button" class="btn btn-primary">New Project</button></a>
  <a href="{% url 'act-new' %}"><button type="button" class="btn btn-primary">New Action</button></a>
</div>

{% endblock content %}
